.idea/
.vscode/
*.iml
.aiignore
.codex/
AGENTS.md
.gradle/
.build/
.idx/
build/
obj/
local.properties
*.aar
*.so
TMessagesProj/build
TMessagesProj/.cxx/
TMessagesProj/afat/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
TMessagesProj/google-services.json
TMessagesProj/release.keystore
